/*Erstellt mit Adobe RoboHelp 2017*/
table.TabelleBlank {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	x-border-spacing: 0px;
}
h1 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 21.6pt;
	text-indent: -21.6pt;
	line-height: normal;
	font-size: 16.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	page-break-before: always;
}
h2 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-left: 42.55pt;
	text-indent: -42.55pt;
	line-height: normal;
	font-size: 14.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	margin-bottom: 16.5pt;
}
h3 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	line-height: 115%;
	font-size: 12.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	margin-left: 0pt;
	margin-bottom: 12pt;
}
h4 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 63.8pt;
	text-indent: -63.8pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}
h5 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 70.9pt;
	text-indent: -70.9pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}
h6 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 57.6pt;
	text-indent: -57.6pt;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: normal;
}
h7 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	line-height: 115%;
	font-size: 12.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	margin-left: 0pt;
	margin-bottom: 12pt;
}
p.BodyText {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 0cm;
	text-align: justify;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
}
span.Hyperlink {
	color: navy;
	text-underline: single;
	text-decoration: underline;
}
span.HyperlinkFollowed {
	color: purple;
	text-underline: single;
	text-decoration: underline;
}
span.PlaceholderText {
	color: gray;
}
p.Überschrift {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	line-height: 115%;
	font-size: 14.0pt;
	font-family: Arial, sans-serif;
}
p.Verzeichnis {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 10.0pt;
	margin-left: 0cm;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Tahoma, sans-serif;
}
p.ContentsHeading {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	font-size: 16.0pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
p.TabellenInhalt {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 2.85pt;
	margin-left: 0cm;
	line-height: normal;
	font-family: "Palatino Linotype", serif;
	font-size: 10pt;
}
p.TabellenÜberschrift {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 2.85pt;
	margin-left: 0cm;
	line-height: normal;
	font-family: "Palatino Linotype", serif;
	font-weight: bold;
	font-size: 10pt;
}
p.TextCode {
	margin-top: 0cm;
	margin-right: 19.85pt;
	margin-bottom: 2.0pt;
	margin-left: 19.85pt;
	line-height: normal;
	font-size: 10.0pt;
	font-family: "Courier New";
}
p.TextkörperListHinweis {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 19.85pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
}
p.AufzählungszeichenNum {
	margin-top: 6.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 39.25pt;
	margin-bottom: .0001pt;
	text-indent: -18.0pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
}
p.Inhalt {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 0cm;
	text-align: justify;
	font-size: 18.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
}
p.Ansitext {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 2.0cm;
	text-align: justify;
	font-size: 14.0pt;
	font-family: "Palatino Linotype", serif;
	font-weight: bold;
}
p.TextkörperAufzähl {
	margin-top: 0cm;
	margin-right: 0cm;
	text-align: justify;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
	margin-bottom: 0pt;
	margin-left: 39px;
}
p.TextkörperAufzähl2 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	text-align: justify;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
	margin-left: 88px;
}
p.Textkörperfett {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 0cm;
	text-align: justify;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	font-weight: bold;
}
p.TextkörperHinweis {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 63.8pt;
	text-align: justify;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
}
p.TextkörperfettAufzähl {
	margin: 0cm;
	margin-bottom: .0001pt;
	text-align: justify;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	font-weight: bold;
	text-indent: 24px;
	margin-top: 5.95pt;
	margin-left: 12pt;
}
p.TextkörperHinweisAufzähl {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 5.95pt;
	margin-left: 99.25pt;
	text-align: justify;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
}
p.Aufzählung3 {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 78.0pt;
	margin-bottom: .0001pt;
	text-indent: -21.3pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
}
p.Listing {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 2.0pt;
	margin-left: 19.85pt;
	line-height: normal;
	font-size: 9.0pt;
	font-family: "Courier New";
}
span.ListingChar {
	font-family: "Courier New";
}
p.Bildunterschrift {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 8.0pt;
	margin-left: 0cm;
	text-align: center;
	line-height: normal;
	font-size: 8.0pt;
	font-family: Tahoma, sans-serif;
	color: black;
	font-weight: bold;
}
ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
li.Formatvorlage1 {
}
span.rls-1-Liste2 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
span.rls-3-Liste1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
span.rls-2-Liste_Level1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
span.rls-1-Liste_Level1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
span.rls-3-Liste_Level1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
span.rls-4-Liste_Level1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
p.Liste_1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-indent: -15pt;
	margin-left: 15pt;
	margin-top: 0.5pt;
	margin-bottom: 5pt;
}
p.Liste_2 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-indent: -30pt;
	margin-left: 30pt;
	margin-top: 0.5pt;
	margin-bottom: 5pt;
}
p.Liste_3 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-indent: -45pt;
	margin-left: 45pt;
	margin-top: 0.5pt;
	margin-bottom: 5pt;
}
p.Aufzählung2 {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-left: 36.0pt;
	text-indent: -18.0pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
	margin-bottom: 0pt;
}
p.Aufzählung1 {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: .0001pt;
	line-height: normal;
	font-size: 11.0pt;
	font-family: "Palatino Linotype", serif;
	color: black;
	text-indent: -22px;
	margin-left: 39px;
}
table.AlternateGreyBlackHeaderRow {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	x-border-spacing: 0px;
	x-row-pat-count: 2;
	x-1st-row: 1;
	font-family: "Palatino Linotype";
	font-size: 10pt;
}
p.TextkörperAufzähl3 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 70px;
	text-indent: 0px;
}
p.BodyText_Italic {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	font-style: italic;
	margin-top: 6pt;
}
span.rls-1-Liste1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
table.AlternateGreyColoredGrid {
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	x-border-spacing: 0px;
	x-row-pat-count: 2;
	font-family: "Palatino Linotype";
	font-size: 10pt;
}
p.BodyTextGroß {
	font-family: "Palatino Linotype";
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}
p.BodyTextZentriert {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: center;
}
span.rls-1-Liste1n {
	font-family: "Palatino Linotype";
	font-size: 11pt;
}
p.AufzählungList1 {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-bottom: 0pt;
	margin-top: 2pt;
	text-indent: -22px;
	margin-left: 39px;
}
table.TabelleBlank {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	x-border-spacing: 0px;
}
table.SimpleGridBlack {
	padding: 0px;
	border-top: Solid 1px #000000;
	border-left: Solid 1px #000000;
	x-border-spacing: 0px;
	x-row-pat-count: 2;
	font-family: "Palatino Linotype";
	font-size: 11pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
p.TextkörperTable {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 7pt;
}
p.TextkörperTablefett {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 7pt;
}
p.TextkörperTableEinrück {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 7pt;
	margin-left: 65pt;
}
p.Kopfzeile {
	font-family: Tahoma;
	font-weight: bold;
	color: #808080;
	margin-bottom: 5pt;
}
p.Kopfzeile_klein {
	font-family: Tahoma;
	font-size: 11pt;
	color: #808080;
	margin-top: 0pt;
}
p.Fußzeile_links {
	font-family: Tahoma;
	font-size: 8pt;
	color: #808080;
}
p.Fußzeile_rechts {
	font-family: Tahoma;
	font-size: 8pt;
	color: #808080;
	text-align: right;
}
h6.Ü2_Search {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-left: 42.55pt;
	text-indent: -42.55pt;
	line-height: normal;
	font-size: 14.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	margin-bottom: 16.5pt;
}
h6.Ü3_Search {
	margin-top: 12.0pt;
	margin-right: 0cm;
	line-height: 115%;
	font-size: 12.0pt;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	margin-bottom: 12pt;
	margin-left: 57.6pt;
}
span.DontTranslate {
	background-color: #ffff00 rh-only;
}
span.DontTranslateBold {
	background-color: #ffff00 rh-only;
	font-weight: bold;
}
dont-translate {
	display: inline;
}
ol.Liste3 {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: 44px;
}
ol.Liste3>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: -96px;
}
ol.Liste3>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste3>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste1 {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste1>li>ol {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: -6px;
}
ol.Liste1>li>ol>li>ol {
	list-style: none;
	counter-reset: item3;
	padding-left: 31.4px;
	margin-left: -11.4px;
}
ol.Liste1>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -35.4px;
	margin-right: 4px;
	width: 31.4px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item4;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "("counter(item4, decimal)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item5;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "("counter(item5, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item6;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "("counter(item6, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item7;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item8;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item9;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum {
	list-style: none;
	counter-reset: item1;
	padding-left: 31.4px;
	margin-left: 10.6px;
}
ol.ListeNum>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li:before {
	counter-increment: item1;
	content: counter(item1, decimal)")";
	text-align: right;
	position: absolute;
	left: -55.4px;
	margin-right: 24px;
	width: 31.4px;
	overflow: hidden;
}
ol.ListeNum>li>ol {
	list-style: none;
	counter-reset: item2;
	padding-left: 30.0px;
	margin-left: -72px;
}
ol.ListeNum>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li:before {
	counter-increment: item2;
	content: counter(item2, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -54px;
	margin-right: 24px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol {
	list-style: none;
	counter-reset: item3;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -42px;
	margin-right: 12px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item4;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: counter(item4, decimal)".";
	text-align: right;
	position: absolute;
	left: -54px;
	margin-right: 24px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item5;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: counter(item5, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -54px;
	margin-right: 24px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item6;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: counter(item6, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -42px;
	margin-right: 12px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item7;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: -54px;
	margin-right: 24px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item8;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -54px;
	margin-right: 24px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item9;
	padding-left: 30.0px;
	margin-left: 10px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.ListeNum>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -42px;
	margin-right: 12px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste2 {
	list-style: none;
	counter-reset: item1;
	padding-left: 26.0px;
	margin-left: 18px;
}
ol.Liste2>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste2>li:before {
	counter-increment: item1;
	content: counter(item1, disc);
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: right;
	position: absolute;
	left: -50px;
	margin-right: 24px;
	width: 26.0px;
	overflow: hidden;
}
ol.Liste2>li>ol {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: 12px;
}
ol.Liste2>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 12px;
}
ol.Liste2>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste2>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste2>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste2>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste2>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste2>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: decimal;
	padding-left: 26.0px;
	margin-left: 22px;
}
ol.Liste_Level1 {
	list-style: none;
	counter-reset: item1;
	padding-left: 26.0px;
	margin-left: 4px;
}
ol.Liste_Level1>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li:before {
	counter-increment: item1;
	content: counter(item1, disc);
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: right;
	position: absolute;
	left: -56px;
	margin-right: 30px;
	width: 26.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol {
	list-style: none;
	counter-reset: item2;
	padding-left: 26.0px;
	margin-left: 4px;
}
ol.Liste_Level1>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li:before {
	counter-increment: item2;
	content: counter(item2, disc);
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: right;
	position: absolute;
	left: -56px;
	margin-right: 30px;
	width: 26.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol {
	list-style: none;
	counter-reset: item3;
	padding-left: 26.0px;
	margin-left: 4px;
}
ol.Liste_Level1>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, disc);
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: right;
	position: absolute;
	left: -56px;
	margin-right: 30px;
	width: 26.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item4;
	padding-left: 26.0px;
	margin-left: -56px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: counter(item4, disc);
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-align: right;
	position: absolute;
	left: -30px;
	margin-right: 4px;
	width: 26.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item5;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "("counter(item5, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item6;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "("counter(item6, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item7;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item8;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item9;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste_Level1>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.ListeNum1Level {
	list-style: decimal;
}
ol.ListeNum1Level>li {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-left: 0in;
}
ul.Liste1Level {
	list-style: disc;
}
ul.Liste1Level>li {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	text-indent: -;
	margin-left: 0px;
}
ul.Liste2Level {
	list-style: disc;
}
ul.Liste2Level>li {
	font-family: "Palatino Linotype";
	font-size: 11pt;
	margin-left: 0.5in;
}
ol.Liste1neu {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: 14px;
}
ol.Liste1neu>li>ol {
	list-style: disc;
	padding-left: 26.0px;
	margin-left: -6px;
}
ol.Liste1neu>li>ol>li>ol {
	list-style: none;
	counter-reset: item3;
	padding-left: 31.4px;
	margin-left: -11.4px;
}
ol.Liste1neu>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -35.4px;
	margin-right: 4px;
	width: 31.4px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item4;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "("counter(item4, decimal)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item5;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "("counter(item5, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item6;
	padding-left: 36.7px;
	margin-left: -16.7px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "("counter(item6, lower-roman)")";
	text-align: right;
	position: absolute;
	left: -40.7px;
	margin-right: 4px;
	width: 36.7px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item7;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item8;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: none;
	counter-reset: item9;
	padding-left: 30.0px;
	margin-left: -10px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.Liste1neu>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: -34px;
	margin-right: 4px;
	width: 30.0px;
	overflow: hidden;
}
table.AlternateGreyBlackHeaderRow td {padding-left: 10px;padding-right: 10px;padding-top: 3px;padding-bottom: 3px;
}
table.AlternateGreyBlackHeaderRow tr:nth-child(odd) td {border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-family: "Palatino Linotype";font-size: 10pt;
}
table.AlternateGreyBlackHeaderRow tr:nth-child(even) td {background-color: #c0c0c0;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;
}
table.AlternateGreyBlackHeaderRow tr:first-child td {background-color: #000000;color: #ffffff;border-left-style: Solid;border-left-width: 1px;border-left-color: #000000;border-top-style: Solid;border-top-width: 1px;border-top-color: #000000;font-weight: bold;font-family: "Palatino Linotype";font-size: 10pt;
}
table.AlternateGreyColoredGrid td {padding-left: 10px;padding-right: 10px;padding-top: 0px;padding-bottom: 0px;
}
table.AlternateGreyColoredGrid tr:nth-child(odd) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-family: "Times New Roman";font-size: 12pt;
}
table.AlternateGreyColoredGrid tr:nth-child(even) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;background-color: #c0c0c0;
}
table.SimpleGridBlack td {padding-left: 10px;padding-right: 10px;padding-top: 0px;padding-bottom: 0px;
}
table.SimpleGridBlack tr:nth-child(odd) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-family: "Times New Roman";font-size: 12pt;
}
table.SimpleGridBlack tr:nth-child(even) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;
}
